version: "3.9"

services:
  backend:
    container_name: nxtturn-backend-dev
    build:
      context: .
      dockerfile: Dockerfile
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    env_file:
      - .env.dev
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  frontend:
    container_name: nxtturn-frontend-dev
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npm run dev
    env_file:
      - .env.dev
    ports:
      - "5173:5173"
    depends_on:
      - backend

  redis:
    image: redis:7
    container_name: nxtturn-redis-dev
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    container_name: nxtturn-db-dev
    env_file:
      - .env.dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_dev_data:/var/lib/postgresql/data

volumes:
  postgres_dev_data:

