version: "3.9"

services:
  backend:
    image: nxtturn/backend:${IMAGE_TAG}
    container_name: nxtturn-backend-prod
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    restart: always
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  frontend:
    image: nxtturn/frontend:${FRONTEND_TAG}
    container_name: nxtturn-frontend-prod
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

  redis:
    image: redis:7
    container_name: nxtturn-redis-prod
    restart: always

  db:
    image: postgres:15
    container_name: nxtturn-db-prod
    env_file:
      - .env.prod
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:

